body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 40px;
}

h1 {
  text-align: center;
}

.upload {
  text-align: center;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
}
